<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- IBM- Plex Sans 700 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap" rel="stylesheet">

<!-- IBM- Plex Sans 400 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">


  <!-- Font Awsome library -->
  <script src="https://kit.fontawesome.com/2991b3d487.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">

  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  <script type="text/javascript">
    tinymce.init({
      selector: '#aTag'
    });
    </script>

  <meta charset="utf-8">
  <title>Arshroop's Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default" >
 
<div class="container-content-head" >
  <!-- As a link -->
  <div class="container">
<nav class="navbar bg-light" >
  <div class="container-fluid"> 
    <a style=" color: rgb(26, 178, 255);" class="navbar-brand" href="/"> Arshroop's Blog </a>
  </div>
  
</div>
</nav>
<div class="header">
  
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</div>
</div>



  <body>
   
